-e ../mosaik-api-python
-e ../pypower
.. PYPOWER==4.0.1
arrow==0.4.2
docopt==0.6.1
hg+https://bitbucket.org/simpy/simpy.io@1a81463#egg=simpy.io
numpy==1.8.0
py==1.4.19
pytest==2.5.1
scipy=0.13.3
simpy==3.0.2
